In [96]:
import pandas as pd
pd.set_option('display.max_columns',21)
arquivo = pd.read_csv('C:/Users/Rafael/Documents/trabalhos didaticatech/kc_house_data.csv')

In [97]:
arquivo.drop('id',axis=1, inplace=True)
arquivo.drop('date',axis=1, inplace=True)
arquivo.drop('zipcode',axis=1, inplace=True)
arquivo.drop('lat',axis=1, inplace=True)
arquivo.drop('long',axis=1, inplace=True)

In [98]:
arquivo.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

In [99]:
y = arquivo['price']
x = arquivo.drop('price', axis = 1)

In [118]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste  = train_test_split(x,y, test_size=0.3)

In [119]:
def modeloregressao(a, b, c, d):
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import Ridge
    from sklearn.linear_model import Lasso
    from sklearn.linear_model import ElasticNet
    
    x_treino = a
    y_treino = b
    x_teste = c
    y_teste = d
    
    reg = LinearRegression()
    ridge = Ridge()
    lasso = Lasso()
    elastic = ElasticNet()
    
    reg.fit(x_treino, y_treino)
    lasso.fit(x_treino, y_treino)
    ridge.fit(x_treino, y_treino)
    elastic.fit(x_treino, y_treino)
    
    result_reg = reg.score(x_teste, y_teste)
    result_ridge = ridge.score(x_teste, y_teste)  
    result_lasso = lasso.score(x_teste, y_teste)  
    result_elastic = elastic.score(x_teste, y_teste)
    
    print('Regressão Linear: ', result_reg)
    print('Regressão Ridge: ', result_ridge)
    print('Regressão Lasso: ', result_lasso)
    print('Regressão Elastic: ', result_elastic)

In [120]:
modeloregressao(x_treino, y_treino, x_teste, y_teste)

C:\Users\Rafael\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.152e+14, tolerance: 1.975e+11
  model = cd_fast.enet_coordinate_descent(

Regressão Linear:  0.6551036015526727
Regressão Ridge:  0.6549849866534712
Regressão Lasso:  0.6551002346953203
Regressão Elastic:  0.6105627907741394

C:\Users\Rafael\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.000e+14, tolerance: 1.975e+11
  model = cd_fast.enet_coordinate_descent(